
@{
    ViewBag.Title = "Index";
}
<div id="myContainer"></div>

<!--All Required REACTJS Lib-->
<script  src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script  src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prop-types/15.6.0/prop-types.js"></script>

<script type="text/jsx" src="~/Scripts/react/app.jsx">
</script>